:root {
  --purple: rgb(92, 0, 128);
  --lightpurple: rgb(121, 54, 148);
  --palepurple: rgb(161, 43, 136);
}
body {
  font-family: "Open Sans", sans-serif;
}
  
header {
  background-image: linear-gradient(to right,  rgb(245, 115, 245), var(--purple));
}

/*Card style*/
.card {
  box-shadow: 5px 5px lightgray;
}

/*Weather Icon style*/
img {
  height: 50px;
  width: 50px;
}
 
/*Employee color coding styles start*/
p {
  padding: 2px 10px;
  background-color: lightgray;
  border-radius: 5px;
}
.manager {
  background-color: var(--purple);
}

.engineer {
   background-color: var(--lightpurple);
}
.intern {
  background-color: var(--palepurple);
}

/*UVI color coding styles end*/

